/* body {
  max-width: 900px;
} */

.App__datos {
  text-align: center;
}

.App__datos label {
  margin: auto;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: clamp(300px, 100%, 1000px);
}

/* .App__datos label div {
  text-align: right;
  padding-right: 5px;
  width: 4.5em;*/
  /* border: 1px solid #000; */
  /*font-weight: bold;
} */

.equal-span {
  justify-content: center;
  text-align: right;
  padding-right: 5px;
  width: 5.5em;
  /* border: 1px solid #000; */
  font-weight: bold;
}

.box-clamp {
  width: clamp(300px, 100%, 900px);
  margin: auto;
  padding: 1em 0 1em 0;
}

.App__datos label input {
  flex: 1;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 6px;
  /* border: 2px solid #0009; */
}

.my-button {
  color: #fff;
  width: 100%;
  padding: .625em;
  border-radius: 7px;
  /* border: 2px solid #0002; */
  border: none;
  background-color: #28a745;
  cursor: pointer;
  width: clamp(300px, 100%, 900px);
  font-weight: 400;
  font-size: 1rem;
}

.my-button:hover {
  background-color: #218838;
}

.my-button:active {
  background-color: #1e7e34;
}

/* .my-button-warning {
  color: #000;
  background-color: #FFC107;
  border: none;
}

.my-button-warning:hover {
  background-color: #FFA000;
}

.my-button-warning:active {
  background-color: #FF8F00;
} */

.box-clamp thead tr,
.box-clamp tbody tr {
  text-align: center;
}